<!doctype html>
<html>
  <head>
  <title>My Awesome Site</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
  <div id='header'>
    <h2>Awesome Site</h2>
  </div>
  <div id="content">
    <div id="service1">
      <input type='button' value='Example 1' id='example1'></input>
    </div>
    <div id="service2">
      <input type='button' value='Example 2' id='example2'></input>
    </div>
  </div>
  </body>
  <script src="/public/bower_components/jquery/jquery.js"></script>
  <script src="/public/js/code.js"></script>
</html>


